:root {
    --clr1: #292929;
    --clr2: #ffffff;
    --clr3: #4f4e4e;
    --clr4: #606060;
    --clr5: #c2c2c2;
    --clr6: #58c93a;
    --clr7: #818181;
    --clr8: #a6a6a6;
    --clr9: #e1e0e0;
    --clr10: #f8f8f8;
    --clr11: #e1e0e0;
    --clr12: #c2c1c1;
}