/* For Mobile Only*/
@media (max-width: 780px) {
    /* .main-header .main-nav ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(29, 29, 29, 0.9);
        box-shadow: -13px 0px 20px 0px rgb(0 0 0 / 50%);
        min-width: 200px;
        font-size: 1.2em;
        transform: translateX(115%);
        transition: transform 0.6s;
    } */

    .main-header .main-nav ul {
        position: fixed;
        top: 90px;
        left: 0;
        background-color: rgba(29, 29, 29, 0.9);
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-inline-start: unset;
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-in-out .5s;
    }

    .main-header .main-nav ul li {
        display: flex;
        justify-content: center;
    }

    .main-header .main-nav a.menu-item {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    body.menu-opened .main-nav ul {
        /* transform: translateX(0); */
        max-height: 100vh;
    }

    body.menu-opened {
        overflow: hidden;
    }

    body.menu-opened .main-screen {
        display: block;
    }

    /* .main-header .main-nav li {
        border-bottom: rgba(88, 201, 58, 0.5) 1px solid;
        margin: auto;
        padding: 13px 20px;
        justify-content: center;
    } */

    .main-header .toggle-menu {
        padding: 5px 10px;
        font-size: 1.2em;
        background-color: var(--clr3);
        cursor: pointer;
        margin-inline-end: 10px;
        border-color: var(--clr3);
        color: black;
    }
}

@media (min-width: 640px) {
    .main-layout {
        margin: 0 auto;
    }
}

@media (min-width: 780px) {

    .article-modal {
        height: 450px;
        width: 600px;
        top: 200px;
        padding: 30px;
        font-size: 1.2em;
    }

    .main-screen {
        top: 130px;
    }

    .main-layout {
        max-width: 770px;
    }

    .main-header .header-layout {
        border-inline-end: #1e1e1e solid 1px;
    }

    .main-header .main-nav ul {
        display: flex;
    }

    .main-header .main-nav li {
        display: flex;
        align-items: center;
        border-inline-start: #1e1e1e solid 1px;
        justify-content: unset;
    }

    .main-header .toggle-menu {
        display: none;
    }

    .main-content .card {
        display: flex;
    }

    .main-content .card .card-img {
        margin-inline-end: 20px;
        width: 50%;
    }

    .main-content .card .card-description {
        width: 50%;
    }

    .journal-dropdown {
        top: 130px;
    }

}

@media (min-width: 980px) {
    .main-header .main-nav a.menu-item {
        height: 130px;
        width: 130px;
    }

    .main-layout {
        max-width: 980px;
    }

    .main-content .card {
        margin-bottom: 80px;
    }

    .main-content .card:first-child {
        margin-top: 80px;
    }

    .main-content .card .card-title {
        margin-bottom: 50px;
    }

    .main-content .card p {
        margin-bottom: 28px;
        padding-inline-end: 7px;
    }

    .main-content .card p:last-of-type {
        margin-bottom: 60px;
    }

    .main-content .card .card-description {
        margin-inline-start: 20px;
    }
}