
.main-content.main-layout {
    border-inline-start: 1px solid var(--clr11);
    border-inline-end: 1px solid var(--clr11);
    border-bottom: 1px solid var(--clr11);
}

.main-content .card {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content .card:first-child {
    margin-top: 40px;
}

.main-content .card .card-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-content .card p {
    padding-inline-end: 7px;
    margin-bottom: 18px;
}

.main-content .card .card-btn {
    color: var(--clr12);
    border: 2px solid #c2c2c2;
    font-size: 1em;
    padding: 9px 25px;
    background-color: white;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: padding .5s;
}

.main-content .card .card-btn:hover {
    color: var(--clr6);
    border-color: var(--clr6);
    padding-inline-end: 2.5em;
}

.main-content .card .card-btn:hover::after {
    content: '→';
    position: absolute;
    right: 1em;
}