.main-header {
    background-color: var(--clr1);
    min-height: 90px;
    box-shadow: inset 0px -8px 0 0 #1d1d1d;
    z-index: 40;
    position: relative;
}

.main-header .header-layout {
    justify-content: space-between;
    width: 100%;
}

.main-header .main-logo {
    font-family: eurofurenceregular;
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.main-header .main-logo .logo-span {
    color: #58c93a;
}

.main-header .main-nav ul {
    z-index: 20;
}

.main-header .main-nav li:hover a.menu-item {
    color: #58c93a;
    box-shadow: inset 0px -5px 0 0 #58c93a;
}

.main-header a.menu-item {
    color: #ffffff;
    padding: 0 30px;
    height: 90px;
    justify-content: center;
}