

.secondary-nav .secondary-nav-layout {
    font-size: 1.125;
    font-weight: 700;
    padding:  30px 30px;
    text-transform: uppercase;
    border-left: 1px solid var(--clr9);
    border-inline-end: 1px solid var(--clr9);
}

.prev-page:hover {
    color: var(--clr9);
}

.next-page:hover {
    color: var(--clr9);
}